*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
}

.banner{
    color: aliceblue;
    height: 210vh;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(house.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.navbar{
    color: aliceblue;
    width: 100%;
    margin: auto;
    display: block;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
   
}

.container{
    max-width: 1300px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}
.container h1{
    color: aliceblue;
    align-items: center;
}