*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'IBM Plex Sans', sans-serif;
}


.navbar{
    color: rgb(8, 8, 8);
    width: 100%;
    margin: auto;
    display: block;
    align-items: center;
    padding: 25px 0;
    justify-content: space-between;
   
}

.container{
    max-width: 1300px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}
.container h1{
    color: rgb(8, 8, 8);
    align-items: center;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
}
.col-1{
    flex-basis: 25%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-1 img{
    width: 100%;



}